/* Common Styles */
body {
    font-family: 'Poppins', sans-serif;
}

.sidebar h3 {
    font-family: inherit;
}

/* Frame Styling */
#mainContentFrame {
    height: 90vh;
}

.dash-btn a:hover {
    background-color: #4caf50;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.dash-btn a:active {
    background-color: #4caf50;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


/* Responsive Adjustments */
@media (max-width: 767px) {
    #content-wrapper {
        padding-top: 4rem;
    }
}

@media (min-width: 992px) {
    #mainContentFrame {
        height: 95vh;
    }
}
