/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar h3 {
    font-family: inherit;
}

/* Frame Styling */
#mainContentFrame {
    height: 90vh;
    border: none;
    background-color: #f8f9fa;
}

.container-fluid {
    background-color: #ffffff;
}

.offcanvas {
    background-color: #ffffff;
}

.dash-btn a:hover, 
.dash-btn a:active {
    background-color: #4caf50;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Card Styles */
.card {
    transition: transform 0.3s, box-shadow 0.3s;
    border: 1px solid #7dff55;
    background-color: #ffffff;
    box-shadow: 0 6px 15px rgba(136, 136, 136, 0.377);
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 6px 15px rgba(1, 255, 22, 0.377);
    border: 1px solid #7dff55;
}

.dashboard-header {
    text-align: center;
    margin-bottom: 0px;
    color: #505050;
    font-weight: 800;
}

.card-icon {
    font-size: 3rem;
    color: #a5fab7;
}

.btn{
    border: 2px solid #ffffff;
    border-radius: 60px;
}
.btn:hover {
    border: 1px solid #ffffff;
    border-radius: 60px;
}   

.card-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
    font-weight: 800;
}

/* Responsive Adjustments */
@media (max-width: 767px) {
    #content-wrapper {
        padding-top: 4rem;
    }
}

@media (min-width: 992px) {
    #mainContentFrame {
        height: 95vh;
    }
}
